---
title: Home :)
layout: layout.njk
---

<div class="px-5 py-5 lg:px-20 lg:py-20 grid grid-cols-5 gap-y-16 gap-x-12">

    <div class="col-span-5 md:col-span-3 max-w-max">
        <h1 class="text-7xl font-bold font-alice mb-16">Hi! </h1>
        <h2 class="text-5xl font-bold font-alice">My name is Mike McDougal.</h2>
        <div class="text-2xl font-bold font-alice lg:text-right">
            You can reach me at
            <span class="font-quicksand">mike@mcdoogs.io
                <a href="mailto:mike@mcdoogs.io" target="_blank">
                    <span class="underline">✉</span>
                </a>
            </span>
        </div>
    </div>
    <div class="col-span-5 md:col-span-2 my-auto">
        <img src="img/solar_system.jpg" alt="Composite image of the moon, Mars, Jupiter, and Saturn" class="rounded-lg mx-auto">
    </div>

    <div class="col-span-5 sm:col-span-2">
        <img src="img/at.jpg" alt="Standing on top of the summit sign on Mt. Katahdin" class="rounded-full drop-shadow-solid-orange z-10">
        <img src="img/saturn.jpg" alt="Photo of Mike looking at Saturn on a laptop screen" class="rounded-full drop-shadow-solid-red ">
    </div>

    <div class="col-span-5 sm:col-span-3 text-2xl font-quicksand md:text-right">
        <div class="mb-8">
            I'm a developer located north of Boston.
        </div>
        <div class="mb-8">
            I've been working in the IT world for seven years. Most of my work has been related to back-end coding, systems engineering, and automation.
        </div>
        <div class="mb-8">
            In 2022, I hiked the entire Appalachian Trail (all 2194.3 miles of it!) from Georgia to Maine. My wife and I have also hiked all of New Hampshire's 4000-foot peaks. My other hobbies include astrophotography (some of my solar system photos are at the top of this page), kayaking, rock climbing, snowshoeing, 3D printing, electronics, and board games.
        </div>
        <div class="font-alice font-bold text-4xl">
            I'm always up for a new adventure.
        </div>
        <div class="text-sm font-quicksand text-ice-orange text-right">
            Especially if it involves food
        </div>
    </div>
</div>